body { 
    background-color:white;
    background: url('images/paperBG.jpg') no-repeat center center fixed; 
    background-size: cover;
}

#title-div{
    margin: 30px;
}

#lobby-div{
    margin: 15px;
}

.label{
    margin-left: 5px;
}

.border-box{
    background-color: rgba(0, 0, 0, 0.3);
    border-style: solid;
    padding: 20px;
    border-radius: 0px;
}

.top-bar {
    display: flex;
    flex-direction: row;
    background-color: #3af;
    border-bottom: 2px solid black;
    position: absolute;
}

.top-bar * {
    margin: 10px 10px;
}

#draw {
    display: block;
    border: 2px solid black;
    width: 100%;
    height: auto;
}
