body { 
    background-color:white;
    background: url('images/paperBG.jpg') no-repeat center center fixed; 
    background-size: cover;
}

#title {
    margin-top: 2em;
    text-align: center;
}

.text-center{
    text-align: center;
}

.borderBox{
    background-color: rgba(0, 0, 0, 0.3);
    border-style: solid;
    margin: 20px;
    border-radius: 30px;
}

.top-bar {
    display: flex;
    flex-direction: row;
    background-color: #3af;
    border-bottom: 2px solid black;
    position: absolute;
}

.top-bar * {
    margin: 10px 10px;
}

#draw {
    display: block;
    border: 2px solid black;
}
